.floating-panel {
    position: absolute;
    z-index: 5;
    background-color: white;
    max-height: 75%;
    min-height: 50%;
    max-width: 300px;
    bottom: 100px;
    left: 20px;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    padding-left: 10px;
}

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.white {
    color: black;
    margin-left: 25px;
    margin-top: 25px;
}

button {
    background-color: #4885ed;
}

.top {
    margin-top: 25px;
}

/*.padd {
    padding: 10px 25px 10px 25px;
}*/
.left {
    padding-left: 0px;
}

.big {
    font-size: 20px;
    margin-top: 50px;
}

.hello {
    margin-top: 25px;
    background-color: white;
    max-width: 300px; 
    height: 200px;
    margin-bottom: 25px;
    overflow-x: hidden;
    color: black;
}

.overflow {
    overflow: auto;
}

#toggle {
    position: absolute;
    background-color: black;
    z-index: 8;
    max-height: 98%;
    left: 20px;
    bottom: 20px;
}

.list {
    background-color: white;
    height: 35px;
}

.none {
    text-decoration: none;
    color: black;
}

.none:hover {
    color: black;
}

.list:hover {
    border: 1px solid grey;
}
